# Dictionaries (key value pair)

In [1]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [2]:
type(car)

dict

In [3]:
car.keys()

dict_keys(['brand', 'model', 'year'])

In [4]:
car.values()

dict_values(['Ford', 'Mustang', 1964])

In [5]:
car.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [6]:
car['brand']

'Ford'

In [7]:
#adding a new key value pair

car['Mileage'] = '20km/l'

In [8]:
car

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'Mileage': '20km/l'}

In [9]:
#We can even include lists as a value is dictionary

d = {'d1':'Pradeep','d2':['Kunal','Sree','Ankita']}

In [10]:
#Another way of assigning value to Dictionary

Team = {} #empty dict

Team['Batsman'] = 'Virat'

Team['Bowler'] = 'Shami'

Team['Keeper'] ='MS'

In [11]:
#Another way to access value

Team.get('Batsman')

'Virat'

In [12]:
# Python Exercise: Iterate over dictionaries using for loops

d = {'x': 10, 'y': 20, 'z': 30} 
    
for i in d:
    
    #print(d[i])
    print(i + '->', d[i])

x-> 10
y-> 20
z-> 30

In [13]:
for i in d.keys():
    print(i)

x
y
z

In [14]:
for i in d.values():
    print(i)

10
20
30

In [15]:
for i,j in d.items():
    print('Keys : ',i,'\t','Value : ',j)

Keys :  x 	 Value :  10
Keys :  y 	 Value :  20
Keys :  z 	 Value :  30

In [16]:
for key,value in d.items():
    print('Keys : ',i,'\t','Value : ',j)

Keys :  z 	 Value :  30
Keys :  z 	 Value :  30
Keys :  z 	 Value :  30

In [17]:
#Write a Python script to merge two Python dictionaries

d1 = {'a': 100, 'b': 200}

d2 = {'x': 300, 'y': 200}

d = d1.copy()

d.update(d2)



print(d)

{'a': 100, 'b': 200, 'x': 300, 'y': 200}

In [18]:
d1 = {'a': 100, 'b': 200}

d2 = {'x': 300, 'y': 200}

d1.update(d2)

print(d1)

{'a': 100, 'b': 200, 'x': 300, 'y': 200}

In [19]:
#Python Exercise: Sort a dictionary by key

color_dict = {'red':'#FF0000',
          'green':'#008000',
          'black':'#000000',
          'white':'#FFFFFF'}

for i in sorted(color_dict):
    
    print((i, color_dict[i]))

('black', '#000000')
('green', '#008000')
('red', '#FF0000')
('white', '#FFFFFF')

# Functions

In [20]:
def simple():
    print('Simple Function')
    print('First Func')
    
print('Not a part of function')

Not a part of function

In [21]:
simple()

Simple Function
First Func

In [22]:
#Function with a Parameter
def plus_ten(a):
    return a + 10 
#This time we are returning a value unlike the last time

In [23]:
#calling a function by passing an arguement
#make sure you give a good name to your function as because after writing 100 lines of code it can get messy

plus_ten(2)

12

In [24]:
def minus_ten(a):
    result = a - 10

In [25]:
minus_ten(40)

#no value is seen because no return was there

In [26]:
val = minus_ten(40)
print(val)

None

In [27]:
def minus_ten(a):
    result = a - 10
    return result

In [28]:
minus_ten(40)

30

In [29]:
#function within a function
def wage(w_hour):
    print('Entered wage function ')
    return w_hour*25


def with_bonus(w_hour):
    print('Entered with bonus ')
    return wage(w_hour)+50

In [30]:
with_bonus(8)

Entered with bonus
Entered wage function

250

In [31]:
wage(8)

Entered wage function

200

In [32]:
#You can also pass list as parameter
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [33]:
#When you install Python you have already installed some built in functions
type(10)

int

In [34]:
int(5.4)

5

In [35]:
str('500')

'500'

In [36]:
max(120,21,120,234)

234

In [37]:
abs(-5)

5

# Series

In [38]:
# import pandas and numpy 
import pandas as pd
import numpy as np
 
# creating simple array
grades = np.array(['A','B','B','A','C'])
ser = pd.Series(grades,index=['Maths','Physics','Chem','Eng','Comp Sc.'])

In [39]:
grades

array(['A', 'B', 'B', 'A', 'C'], dtype='<U1')

In [40]:
ser

Maths       A
Physics     B
Chem        B
Eng         A
Comp Sc.    C
dtype: object

In [41]:
ser[0]

'A'

In [42]:
ser.index

Index(['Maths', 'Physics', 'Chem', 'Eng', 'Comp Sc.'], dtype='object')

In [43]:
ser.values

array(['A', 'B', 'B', 'A', 'C'], dtype=object)

In [44]:
# a simple list
list = ['g', 'e', 'e', 'k', 's']
  
# create series form a list
ser = pd.Series(list)
print(ser)

0    g
1    e
2    e
3    k
4    s
dtype: object

In [45]:
s1 = pd.Series(np.random.randint(1, high=5, size= 100, dtype='l'))

In [46]:
s2 = pd.Series(np.random.randint(1, high=4, size= 100, dtype='l'))
s3 = pd.Series(np.random.randint(10000, high=30001, size= 100, dtype='l'))

In [47]:
s1

0     3
1     3
2     1
3     1
4     1
     ..
95    2
96    2
97    2
98    2
99    1
Length: 100, dtype: int32

In [48]:
s1.head()

0    3
1    3
2    1
3    1
4    1
dtype: int32

In [49]:
len(s1)

100

In [50]:
series = s1.append(s2)

In [51]:
len(series)

200

In [52]:
s1 = pd.Series(np.random.randint(1, high=5, size= 100, dtype='l'))
s2 = pd.Series(np.random.randint(1, high=4, size= 100, dtype='l'))
s3 = pd.Series(np.random.randint(10000, high=30001, size= 100, dtype='l'))

In [53]:
housemkt = pd.concat([s1,s2,s3],axis=1)

In [54]:
housemkt

    0  1      2
0   2  3  27486
1   2  1  27173
2   1  2  27903
3   1  2  21333
4   2  1  20982
.. .. ..    ...
95  2  1  13950
96  2  3  25677
97  1  3  27935
98  3  2  11831
99  1  3  18397

[100 rows x 3 columns]

In [55]:
housemkt.rename(columns = {0:'bedrs', 1:'bathrs', 2:'price_sqr_metres'}, inplace=True)

In [56]:
housemkt

    bedrs  bathrs  price_sqr_metres
0       2       3             27486
1       2       1             27173
2       1       2             27903
3       1       2             21333
4       2       1             20982
..    ...     ...               ...
95      2       1             13950
96      2       3             25677
97      1       3             27935
98      3       2             11831
99      1       3             18397

[100 rows x 3 columns]